*/obj/*
*/bin/*
packages/
TestResults/
*/*/obj/*
*/*/bin/Debug/*
*.orig
*.vspscc
*.user
.vs/
*.pdb
*.dll
*.suo
*.rej
!Agidens.Terminal.Suite.SqlStore/EdmGen2.exe
ALine.tss
*.log
.idea/
/Agidens.Terminal.Suite.SqlStore/EntityDataModel.GeneratedViews.cs
[Bb]in/
[Oo]bj/